/*Sección Sobre Mí*/

.tituloEdu{
    font-size:medium;
    font-weight:600;
    
}

.añoEdu,.descripcionEdu{
    font-size:small;
    font-weight:400;
    margin-top: -1.5rem;
}

.uniEdu{
    font-size:smaller;
    font-weight:300;
    margin-top: -1.5rem;
    color: #b8b4b4;
}

.icono{
    padding-left: rem;
    padding-top: 0.3rem;
}

.iconounefa{
    padding-left: 1rem;
    padding-top: 0.3rem;
}

.divider2{
    color: #F63C12;
    width: 10rem;
    margin-top: -1rem;
    border-top: 0.1rem solid;
    opacity: 1;
}