<header class="fondo navbar fixed-top">
  <ul style="list-style:none" class="list-group-horizontal list-group">
      <li><a class="navbar-brand" href="#inicio"><img src="../../assets/Img/LogoAP.png" alt="logo" class="logo"  width="70"/></a></li>
      <li><a class="navbar-brand" href="#inicio"></a><button type="submit" class="btn btn-primary btn-modal btninicio" [routerLink]="['']" >Inicio&nbsp;<i class="fa-solid fa-house"></i>&nbsp;</button></li>
  </ul>
</header>

<div class="row">
<div class="col-sm-2 col-md-2 col-lg-4 col-xl-4">
</div>
<div class="container border col-sm-8 col-md-8 col-lg-4 col-xl-4">
  <h5 class="title text-center">Editar Habilidad Soft</h5><br>
  
  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
    <input type="hidden" formControlName="id">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Habilidad</label>
        <input type="text" class="form-control ventanamodal" id="habilidad" 
        [(ngModel)]="habiliS.habilidad" name="habilidad">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Icono de Font Awesome</label>
      <input type="text" class="form-control ventanamodal" id="icono" 
      [(ngModel)]="habiliS.icono" name="icono">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nivel (Describir en que entorno o contexto)</label>
      <input type="text" class="form-control ventanamodal" id="nivel" id="nivel"
      [(ngModel)]="habiliS.nivel" name="nivel">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Porcentajes de conocimiento (agregar símbolo %)</label>
        <input type="email" class="form-control ventanamodal" id="porcentajeProgreso"
        [(ngModel)]="habiliS.porcentajeProgreso" name="porcentajeProgreso">
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-modal" [routerLink]="['']" ><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Salir</button> &nbsp; &nbsp;
      <button type="submit" class="btn btn-primary btn-modal">¡Guardar!</button>
    </div>
  </form>
</div>
<div class="col-sm-2 col-md-2 col-lg-4 col-xl-4">
</div>
</div>


