section.contacto{
    background-image: url(https://i.ibb.co/wWmq04r/desarrolloweboscuro.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.iconoscont{
    color: #F63C12;
}

#trucazo{
    opacity: 0;
}