<section id="contacto" class="contacto bg-dark">
    <div class="container">
      
      <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let aboutme of aboutmes">
          <h5>Contacto
            <!-- Button trigger modal -->
            <ul class="list-group list-group-horizontal modificar madificarItems">
              <li class="nav-item list-group-item"><i class="fa-solid fa-pen-to-square fa-xs" type="button" [routerLink]="['/contactoeditar', aboutme.id]" *ngIf="isLogged"></i></li>
            </ul>
          </h5><br>
        </div>
      </div>
      <hr class="divider">
      <div class="row" *ngFor="let aboutme of aboutmes">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
              <h6><p class="text-pequeño">{{aboutme.descripcion_contacto}}

              </p></h6><br>
          </div>
      </div>

      <div class="row">

        <div class="col col-1 col-sm-1 col-md-2 col-lg-2">
        </div>


        <div class="col col-10 col-sm-10 col-md-8 col-lg-8" *ngFor="let aboutme of aboutmes">
          <div class="col">
            <li class="nav-item list-group-item"><i class="fa-solid fa-phone-volume fa-lg iconoscont"></i> &nbsp; {{aboutme.telefono}}</li>
            <li class="nav-item list-group-item"><i class="fa-solid fa-envelope fa-lg iconoscont"></i> &nbsp; {{aboutme.email}}</li> 
            <li class="nav-item list-group-item"><i class="fa-solid fa-location-dot fa-lg iconoscont"></i> &nbsp; {{aboutme.ubicacion}}</li>
          </div>
        </div>
      
          
        <div class="col col-1 col-sm-1 col-md-2 col-lg-2">
        </div>

      </div>
    </div>
</section>