        <!-- Ventana Modal Proyecto a Editar-->
        <div class="modal fade" id="proyectoEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editar Proyecto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
      
                 <!-- Formulario experiencia Ventana Modal -->
                 <form class="ventana-modal">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Título</label>
                      <input type="email" class="form-control ventanamodal" id="titulo">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Descripción</label>
                        <input type="email" class="form-control ventanamodal" id="Descripcion">
                    </div>
                    <div class="mb-3">
                      <label for="formFileSm" class="form-label ventanamodal">Imágen del proyecto</label>
                      <input class="form-control form-control-sm ventanamodal" id="Imgproyecto" type="file">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">URL del live demo</label>
                        <input type="email" class="form-control ventanamodal" id="URLdemo">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">URL del Repositorio</label>
                      <input type="email" class="form-control ventanamodal" id="URLrepositorio">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-modal">¡Guardar!</button>
                </div>
              </div>
            </div>
        </div>
  