/*Barra de Navegación*/

.navbar{
    background-color: #070707dc;
}

.offcanvas{
    background-color: #070707dc;
}

.offcanvas-title{
    color: #ffffff;
}

.nav-link{
    color: #ffffff;
}

.redes{
    color: #ffffff; 
}

.listaderedes{
    padding-bottom: 2rem;
    padding-left: 4rem;
}

.redes:hover{
    color: #F63C12;
    transform: scale(1.5); 
}


.nav-link:hover{
    color: #F63C12;
    transform: scale(1.08);
}


.list-group{
    --bs-list-group-bg: transperent;
    --bs-list-group-border-color: transperent;
}

#offcanvasDarkNavbar{
    width: 15rem;
}

.login{
    padding-right: 15rem;
    color: #ffffff; 
}

.login:hover{
    color: #F63C12;
    transform: scale(1.5);
}

.navbar-toggler{
    margin-bottom: -15rem;
}