<!-- Ventana Modal Educación Editar-->
<div class="modal fade" id="educacionEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Educación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         <!-- Formulario Barra de Navegación Ventana Modal -->
         <form class="ventana-modal">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Título obtenido</label>
              <input type="email" class="form-control ventanamodal" id="titulo" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Fecha</label>
                <input type="email" class="form-control ventanamodal" id="fecha" aria-describedby="emailHelp">
                
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Institución</label>
              <input type="email" class="form-control ventanamodal" id="institucion" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
              <textarea class="form-control ventanamodal" id="descripcion" rows="3"></textarea>
          </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-modal">¡Guardar!</button>
        </div>
      </div>
    </div>
</div>
  