        <!-- Ventana Modal Experiencia Editar-->
        <div class="modal fade" id="experienciaEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editar Experiencia</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
      
                 <!-- Formulario experiencia Ventana Modal -->
                 <form class="ventana-modal">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Puesto o cargo</label>
                      <input type="email" class="form-control ventanamodal" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">Ingrese su puesto laboral o cargo desempeñado</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Fecha</label>
                        <input type="email" class="form-control ventanamodal" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Año de inicio - Año de culminación</div>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Empresa</label>
                      <input type="email" class="form-control ventanamodal" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">Ingrese el nombre de la empresa</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                      <textarea class="form-control ventanamodal" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-modal">¡Guardar!</button>
                </div>
              </div>
            </div>
            </div>
  