<!-- Ventana Modal Habilidad a Editar-->
<div class="modal fade" id="habilidEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Habilidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         <!-- Formulario experiencia Ventana Modal -->
         <form class="ventana-modal">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Habilidad</label>
              <input type="email" class="form-control ventanamodal" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Ingrese su habilidad</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Icono</label>
                <input type="email" class="form-control ventanamodal" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Agregar codigo de bootstrap</div>
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nivel</label>
              <select class="form-select ventanamodal" aria-label="Default select example">
                <option selected>Seleccione nivel</option>
                <option value="1">Básico</option>
                <option value="2">Intermedio</option>
                <option value="3">Avanzado</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="customRange1" class="form-label">Barra de progreso (%)</label>
              <input type="range" class="form-range" id="customRange1">
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-modal">¡Guardar!</button>
        </div>
      </div>
    </div>
</div>
  