        <!-- Ventana Modal Perfil Profesional-->
        <div class="modal fade" id="perfilprofesional" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Perfil profesional</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                 <!-- Formulario Perfil Profesional Ventana Modal -->
                 <form class="ventana-modal" novalidate #f="ngForm">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label ventanamodal">Perfil Profesional</label>
                        <textarea class="form-control ventanamodal" id="intro" rows="3"></textarea>
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-modal">¡Guardar!</button>
                </div>
              </div>
            </div>
        </div>