<header class="fondo navbar fixed-top">
  <ul style="list-style:none" class="list-group-horizontal list-group">
      <li><a class="navbar-brand" href="#inicio"><img src="../../assets/Img/LogoAP.png" alt="logo" class="logo"  width="70"/></a></li>
      <li><a class="navbar-brand" href="#inicio"></a><button type="submit" class="btn btn-primary btn-modal btninicio" [routerLink]="['']" >Inicio&nbsp;<i class="fa-solid fa-house"></i>&nbsp;</button></li>
  </ul>
</header>
  
  <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-4 col-xl-4">
  </div>
  <div class="container border col-sm-8 col-md-8 col-lg-4 col-xl-4">
    <h5 class="title text-center">Contacto</h5><br>
    
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <input type="hidden" formControlName="id">
      <div class="mb-3">
          <label for="descripcion_contacto" class="form-label">Descripción</label>
          <textarea class="form-control ventanamodal" rows="6" id="descripcion_contacto" 
          [(ngModel)]="cont.descripcion_contacto" name="descripcion_contacto"></textarea>
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Número de teléfono</label>
        <input type="text" class="form-control ventanamodal" id="telefono"
        [(ngModel)]="cont.telefono" name="telefono">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Dirección Email</label>
        <input type="text" class="form-control ventanamodal" id="email"
        [(ngModel)]="cont.email" name="email">
      </div>
      <div class="mb-3">
        <label for="ubicacion" class="form-label">Ubicación de Residencia</label>
        <input type="text" class="form-control ventanamodal" id="ubicacion"
        [(ngModel)]="cont.ubicacion" name="ubicacion">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-modal" [routerLink]="['']" ><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Salir</button> &nbsp; &nbsp;
        <button type="submit" class="btn btn-primary btn-modal">¡Guardar!</button>
      </div>
    </form>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-4 col-xl-4">
  </div>
  </div>
