<!-- Ventana Modal Experiencia Agregar-->
<div class="modal fade" id="experienciaAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
        </div>
        <div class="modal-body">

         <!-- Formulario experiencia Ventana Modal -->
         <form class="ventana-modal" [formGroup]="form" (ngSubmit)="onEnviar($event)" name="ExpeAgregar">
            
          <div class="mb-3">
            <label for="experienciaPuestoSizeImg" class="form-label">URL del logo de la empresa</label>
            <input type="text" class="form-control ventanamodal" id="imgExp"
            [class.border-danger]="ImgExpValid" [(ngModel)]="imgExp" formControlName="imgExp"
              [ngClass]="{'is-invalid': ImgExp?.errors && ImgExp?.touched}"
              [ngClass]="{'is-valid': !ImgExp?.errors}">
            <div *ngIf="ImgExp?.errors && ImgExp?.touched">    
              <p *ngIf="ImgExp?.hasError('required')" class="error">
                El logo de la empresa es requerido.
              </p>
            </div>
            <div *ngIf="!ImgExp?.errors && ImgExp?.touched">    
              <p *ngIf="!ImgExp?.hasError('required')" class="sinerror">
                  Logo de la empresa ingresado.
              </p>
            </div>
          </div>

          <div class="mb-3">
            <label for="experienciaPuestoSizeImg" class="form-label">Tamaño del logo (%)</label>
            <input type="text" class="form-control ventanamodal" id="sizeImg" aria-describedby="emailHelp"
            [class.border-danger]="SizeImgValid" [(ngModel)]="sizeImg" formControlName="sizeImg"
            [ngClass]="{'is-invalid': SizeImg?.errors && SizeImg?.touched}"
            [ngClass]="{'is-valid': !SizeImg?.errors}">
            <div *ngIf="SizeImg?.errors && SizeImg?.touched">    
              <p *ngIf="SizeImg?.hasError('required')" class="error">
                El tamaño del logo es requerido.
              </p>
            </div>
            <div *ngIf="!SizeImg?.errors && SizeImg?.touched">    
              <p *ngIf="!SizeImg?.hasError('required')" class="sinerror">
                 Tamaño del logo ingresado.
              </p>
            </div>
        </div>




          <div class="mb-3">
              <label for="experienciaPuesto" class="form-label">Puesto o cargo</label>
              <input type="text" class="form-control ventanamodal" id="puesto" aria-describedby="emailHelp"
              [class.border-danger]="PuestoValid" [(ngModel)]="puesto" formControlName="puesto"
              [ngClass]="{'is-invalid': Puesto?.errors && Puesto?.touched}"
              [ngClass]="{'is-valid': !Puesto?.errors}">
              <div *ngIf="Puesto?.errors && Puesto?.touched">    
                <p *ngIf="Puesto?.hasError('required')" class="error">
                  El Puesto es requerido.
                </p>
              </div>
              <div *ngIf="!Puesto?.errors && Puesto?.touched">    
                <p *ngIf="!Puesto?.hasError('required')" class="sinerror">
                    Puesto ingresado.
                </p>
              </div>
          </div>

        
            

            <div class="mb-3">
                <label for="ExperienciaInicio" class="form-label">Fecha de inicio</label>
                <input type="date" class="form-control ventanamodal" id="inicio" aria-describedby="emailHelp"
                [class.border-danger]="InicioValid" [(ngModel)]="inicio" formControlName="inicio"
                [ngClass]="{'is-invalid': Inicio?.errors && Inicio?.touched}"
                [ngClass]="{'is-valid': !Inicio?.errors}">
                <div *ngIf="Inicio?.errors && Inicio?.touched">    
                  <p *ngIf="Inicio?.hasError('required')" class="error">
                      La fecha de inicio es requerida.
                  </p>
                </div>
                <div *ngIf="!Inicio?.errors && Inicio?.touched">    
                  <p *ngIf="!Inicio?.hasError('required')" class="sinerror">
                      Fecha de inicio ingresada.
                  </p>
                </div>
            </div>

             
            

              <div class="mb-3">
                <label for="experienciaFin" class="form-label">Fecha de culminación</label>
                <input type="date" class="form-control ventanamodal" id="fin" aria-describedby="emailHelp"
                [class.border-danger]="FinValid" [(ngModel)]="fin" formControlName="fin"
                [ngClass]="{'is-invalid': Fin?.errors && Fin?.touched}"
                [ngClass]="{'is-valid': !Fin?.errors}">
                <div *ngIf="Fin?.errors && Fin?.touched">    
                  <p *ngIf="Fin?.hasError('required')" class="error">
                      La fecha de culminación es requerida.
                  </p>
                </div>
                <div *ngIf="!Fin?.errors && Fin?.touched">    
                  <p *ngIf="!Fin?.hasError('required')" class="sinerror">
                      Fecha de culminación ingresada.
                  </p>
                </div>
              </div>

              
            
            <div class="mb-3">
              <label for="experienciaEmpresa" class="form-label">Empresa</label>
              <input type="text" class="form-control ventanamodal" id="empresa"
              [(ngModel)]="empresa" formControlName="empresa"
              [ngClass]="{'is-invalid': Empresa?.errors && Empresa?.touched}"
              [ngClass]="{'is-valid': !Empresa?.errors}">
              <div *ngIf="Empresa?.errors && Empresa?.touched">    
              <p *ngIf="Empresa?.hasError('required')" class="error">
                  La empresa es requerida.
              </p>
            </div>
            <div *ngIf="!Empresa?.errors && Empresa?.touched">    
              <p *ngIf="!Empresa?.hasError('required')" class="sinerror">
                  Nombre de la empresa ingresado.
              </p>
            </div>
            </div>
            

            <div class="mb-3">
              <label for="ExperienciaDescripcion" class="form-label">Descripción</label>
              <textarea class="form-control ventanamodal" id="descripcionExp" rows="3"
              [class.border-danger]="DescripcionExpValid" [(ngModel)]="descripcionExp" formControlName="descripcionExp"
              [ngClass]="{'is-invalid': DescripcionExp?.errors && DescripcionExp?.touched}"
              [ngClass]="{'is-valid': !DescripcionExp?.errors}"></textarea>
              <div *ngIf="DescripcionExp?.errors && DescripcionExp?.touched">    
                <p *ngIf="DescripcionExp?.hasError('required')" class="error">
                    La descripción es requerida.
                </p>
              </div>
              <div *ngIf="!DescripcionExp?.errors && DescripcionExp?.touched">    
                <p *ngIf="!DescripcionExp?.hasError('required')" class="sinerror">
                    Descripción ingresada.
                </p>
              </div>
            </div>
          

          
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-modal" (click)="limpiar()">
            <i class="fa-solid fa-broom"></i>&nbsp;Limpiar</button>
            <button type="submit" class="btn btn-primary btn-modal">¡Guardar!</button>
        </div>
      </form>
      </div>
    </div>
</div>
  