<!-- Ventana Modal Nombre y Foto de perfil -->
<div class="modal fade" id="nombreyfoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nombre y Foto de Perfil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         <!-- Formulario Barra de Navegación Ventana Modal -->
         <form class="ventana-modal">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre y Apellido</label>
              <input type="email" class="form-control ventanamodal" id="nombre" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Ingrese su nombre</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Profesión</label>
                <input type="email" class="form-control ventanamodal" id="profesion" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Ingrese su profesión</div>
              </div>
            <div class="mb-3">
              <label for="formFileSm" class="form-label ventanamodal">Ingrese su foto de perfil</label>
              <input class="form-control form-control-sm ventanamodal" id="urlfoto" type="file">
            </div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label ventanamodal">Ingrese foto de fondo</label>
                <input class="form-control form-control-sm ventanamodal" id="urlfondo" type="file">
              </div>
        </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-modal">¡Guardar!</button>
        </div>
      </div>
    </div>
    </div> 
