<header class="fondo navbar fixed-top">
    <ul style="list-style:none" class="list-group-horizontal list-group">
        <li><a class="navbar-brand" href="#inicio"><img src="../../assets/Img/LogoAP.png" alt="logo" class="logo"  width="70"/></a></li>
    </ul>
</header>

<div class="row">
<div class="col-sm-2 col-md-2 col-lg-4 col-xl-4">
</div>
<div class="container border col-sm-8 col-md-8 col-lg-4 col-xl-4">
  <h5 class="title text-center">Editar datos personales</h5><br>
  
  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="formulario">
    <input type="hidden" formControlName="id">
    <div class="mb-3">
      <label for="url_linkedin" class="form-label">URL del perfil de Linkedin</label>
      <input type="text" class="form-control ventanamodal" id="url_linkedin"
     [(ngModel)]="about.url_linkedin" name="url_linkedin">
    </div>
    <div class="mb-3">
      <label for="url_github" class="form-label">URL del perfil de Github</label>
      <input type="text" class="form-control ventanamodal" id="url_github"
      [(ngModel)]="about.url_github" name="url_github">
    </div>
    <div class="mb-3">
      <label for="cv" class="form-label">Enlace CV</label>
      <input type="text" class="form-control ventanamodal" id="cv"
      [(ngModel)]="about.cv" name="cv">
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-modal" [routerLink]="['']" ><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Salir</button> &nbsp; &nbsp;
      <button type="submit" class="btn btn-primary btn-modal">¡Guardar!</button>
    </div>
  </form>
</div>
<div class="col-sm-2 col-md-2 col-lg-4 col-xl-4">
</div>
</div>
