    <!-- Ventana Modal login -->
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
  
             <!-- Formulario login ventana Modal -->
             <form class="ventana-modal" [formGroup]="form" (ngSubmit)="onEnviar($event)" (ngSubmit)="onLogin()">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Usuario</label>
                  <input type="text" class="form-control ventanamodal" id="nombreUsuario" name="nombreUsuario"
                  [class.border-danger]="NombreUsuarioValid" [(ngModel)]="nombreUsuario" formControlName="nombreUsuario"
                  [ngClass]="{'is-invalid': NombreUsuario?.errors && NombreUsuario?.touched}" required
                  [ngClass]="{'is-valid': !NombreUsuario?.errors}">
                  <div *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">    
                    <p *ngIf="NombreUsuario?.hasError('required')" class="error">
                        El nombre de usuario es requerido.
                    </p>
                    </div>
                    <div *ngIf="!NombreUsuario?.errors && NombreUsuario?.touched">    
                      <p *ngIf="!NombreUsuario?.hasError('required')" class="sinerror">
                          Nombre de ususario ingresado.
                      </p>
                    </div>
                </div>

                


                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control ventanamodal" id="password" name="password"
                  [class.border-danger]="PasswordValid" [(ngModel)]="password" formControlName="password"
                  [ngClass]="{'is-invalid': Password?.errors && Password?.touched}" required
                  [ngClass]="{'is-valid': !Password?.errors}">

                  <div *ngIf="Password?.errors  && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="error">
                      El password es requerido.
                    </p>
                    <p *ngIf="Password?.errors?.['minlength']" class="error">
                    El password debe ser de 8 o más caracteres.
                    </p>
                  </div>
                  <div *ngIf="!Password?.errors && Password?.touched">    
                    <p *ngIf="!Password?.hasError('required')" class="sinerror">
                        Contraseña ingresada.
                    </p>
                  </div>
                </div>


                


            
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-modal" (click)="limpiar()">
                <i class="fa-solid fa-broom"></i>&nbsp;Limpiar</button>
                <button type="submit" class="btn btn-primary btn-modal">¡Ingresar!</button>
            </div>
          </div>
          </form>
        
          </div>
        </div>
      </div>
  