<body>
    <header class="fondo navbar fixed-top">
        <ul style="list-style:none" class="list-group-horizontal list-group">
            <li><a class="navbar-brand" href="#inicio"><img src="https://i.ibb.co/q0pBDHG/LogoAP.png" alt="logo" class="logo"  width="70"/></a></li>
            <li><button type="button" class="btn btn-primary login" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="!isLogged">login</button></li>
            <li><button type="button" class="btn btn-primary login" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onLogOut()" *ngIf="isLogged">Logout</button></li>
        </ul>
        <nav>
            <div class="menu">
                <input type="checkbox" id="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul>
                    <li><a href="#sobreMi">Sobre Mí</a></li>
                    <li><a href="#habilidades">Habilidades</a></li>
                    <li><a href="#proyectos">Proyectos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
        </nav>    
    </header>
</body>

<app-login></app-login>
